body {
    background-image: url("img/90sbackground.jpg");
    font-family: 'Bubblegum Sans', cursive;
}
.description {
    font-size: 50px;
}
h2{
    color: white;
}
.container {
    color: #F23A99;
}